div {
    height:200px;

}

.background-color{
    background-color: blue;
}

.background-image{
    background-image: url(imgs/사진2.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}