<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
    <!-- VueFire -->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <script>
            // Initialize Firebase
            // TODO: Replace with your project's customized code snippet
            var config = {
                apiKey: "AIzaSyANmwd18JIzydYSGVSHaPlu9XvtPnHwDdE",
                authDomain: "vue-chat-5292a.firebaseapp.com",
                databaseURL: "https://vue-chat-5292a.firebaseio.com",
                projectId: "vue-chat-5292a",
                
            };
            firebase.initializeApp(config);
    </script>
</head>
<body>
    <div id="app">
        <div v-if="currentUser.uid">
            <div>
                <span>hi, {{ currentUser.name }}</span>
                <button @click="logout">로그아웃</button>
            </div>
        <ul>
            <li v-for="message in messages" :key="message['.key']">
                {{ message.content }} {{ message.username }}
            </li>
        </ul>
        <input type="text" v-model="newMessage" v-on:keyup.enter="addMessage">
        <button v-on:click="addMessage"> > </button>
    </div>
    <div v-else>
        <div id="firebaseui-auth-container"></div>
    </div>

    </div>
    <script>
        const database= firebase.database()
        const auth= firebase.auth()
        const ui = new firebaseui.auth.AuthUI(auth)


        const app = new Vue({
            el : '#app',
            data: {
               
                newMessage:'',
                currentUser: {
                    uid: '',
                    email: '',
                    name: '',
                }
            },
            firebase:{
                messages: database.ref('messages')
            },
            methods: {
                addMessage: function(){
                    if (this.newMessage){
                        this.$firebaseRefs.messages.push({
                            user: this.currentUser.name,
                            content: this.newMessage
                        })
                        this.newMessage=''
                    }
                
                
                
                },
                initUi: function(){
                    ui.start('#firebaseui-auth-container', {
                    signInOptions: [firebase.auth.EmailAuthProvider.PROVIDER_ID],

                    callbacks: {
                        signInSuccessWithAuthResult: (authResult, redirectUrl) => {
                            this.currentUser.uid=authResult.user.uid
                            this.currentUser.emil=authResult.user.email
                            this.currentUser.name=authResult.user.displayName
                            return false;
                        },
                    },

                    });
                },
                logout: function(){
                    this.currentUser={
                        uid:'',
                        email:'',
                        name:'',
                    }
                    auth.signOut().then(()=>)
                
                },
                mounted : function(){
                    auth.onAuthStateChanged((user)=>{
                        if (user) {
                            this.currentUser.uid=user.uid
                            this.currentUser.emil=user.email
                            this.currentUser.name=user.displayName
                        } else {
                            this.initUi()
                        }
                    })
                    

                }
            },
        })
    </script>
</body>
</html>