<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .completed{
            text-decoration: line-through;
            opacity : 0.6;
        }
    </style>
</head>
<body>
    <div id="app">
        <select v-model="status">
            <option value="all">All</option>
            <option value="active" >Active</option>
            <option value="computed">Computed</option>
        </select>
        <ul>
            <!-- <li v-for="todo in todos" v-if="!todo.completed" v-on:click="check(todo)"> 또는 v-on:click="todo.completed=true" -->
            <li v-for="todo in todosByStatus" v-bind:key="todo.id">
                <input type="checkbox" v-model="todo.completed">
                <span v-bind:class="{completed:todo.completed}">{{ todo.content}}</span>
            </li>
            <!-- <div v-bind:style="{color:'red',fontSize:'30px'}"> -->
                <span>{{ newTodo.split('').reverse().join('') }}</span>
            
            <!-- <li v-else v-on:click="check(todo)">[완료!]</li> -->
            <!-- v-on -->
        </ul>
    
        <div>
            <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
            <button v-on:click="addTodo">+</button>
            <button v-on:click="deleteTodo">타노스</button>
        </div>
    </div>

    <script>
        const app = new Vue({
            el : '#app',
            data: { 
                status:'all',
                newTodo:'',
                todos:[
                    {
                        id:1,
                        content : '점심메뉴고민하기',
                        completed : true,
                    },
                    {
                        id:2,
                        content : '사다리타기',
                        completed : false, 
                    },
                    {
                        id:3,
                        content : '약속의 2시, 낮잠자기',
                        completed : true,
                    },
                    {
                        id:4,
                        content : '야자하기',
                        completed : false, 
                    },
                    ]
                },
                methods:{
                    check:function(todo){
                        todo.completed = !todo.completed

                    },
                    addTodo:function(todo){
                        this.todos.push({
                            id: Date.now(),
                            content : this.newTodo,
                            completed: false, 
                        })
                        this.newTodo=''
                    },// .filter
                    deleteTodo:function(){
                        const notCompletedTodos = this.todos.filter((todo)=>{
                            return !todo.completed

                        })
                        this.todos = notCompletedTodos
                    },
                },
                computed:{
                    reverseNewTodo:function(){
                        return this.newTodo.split('').reverse().join
                    },
                    todosByStatus: function(){
                    if (this.status ==='active'){
                        return this.todos.filter((todo)=>{
                            return !todo.completed
                        })
                    }
                    if (this.status==='completed'){
                        return this.todos.filter((todo)=>{
                            return todo.completed
                        })
                    }
                    return this.todos
                },
                
            }
                
        })

    </script>
</body>
</html>